@tailwind base;

@tailwind components;

@tailwind utilities;

.messages.concealed::before {
    position: absolute;
    content: 'Log in to see messages.';
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    opacity: .5;
}